{% extends "base.html" %}

{% include 'messages.html' %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 container-padded">
                <div class="col-xs-4 border-grey-right">

                    <h1>Delete</h1>
                    <h1>{{category.name}}?</h1>

                </div>
                <div class="col-md-8">
                    <form action="{{ url_for('deleteCategory', category_id=category.id)}}" method='post'>
                        <button type="submit" class="btn btn-primary btn-block">Delete</button>
                    </form>
                    <a href="{{url_for('showCategories',category_id = category.id)}}">
                        <button name="cancel" class="btn btn-danger btn-block">Cancel</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}