{% extends "base.html" %}
{% block title %}Add Category{% endblock %}

{% include 'messages.html' %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-xs-12 container-padded">

                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

                    <h1>Add Category</h1>
                </div>
                <div class="col-md-8">
                    <form action="#" method="post">
                        <div class="form-group">
                            <label>Name:</label>
                             <input name="name" type="text" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">Create</button>
                    </form>
                    <a href="/">
                        <button class="btn btn-danger btn-block">Cancel</button>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
